.selection > p{
    color: white;
    margin: 0px;
}
.selection{
    padding: .7rem;
    border-bottom: 1px white solid;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.selection-delete{
    border: none;
    background-color: transparent;
    z-index: 1;
    position: relative;
    padding-left: .8vw;
}

.highlighted{
    background-color: #404754;
    transition: background-color 0.3s ease-in-out;
}

.hover-selected:hover{
    background-color: #333b4a;
    transition: background-color 0.7s ease-in-out;
}

.chat-selector-text{
    overflow: hidden;
    white-space: nowrap;
}