.NewChat{
    display: inline-flex;
    margin-right: .3rem;
}
.extra_icons{
    width: 20vw;
    font-size: 1rem;
    position: fixed;
    left: 0;
    bottom: 2rem;
    border-top: solid #a8a8a8 2px;
}
.NewChatSection{
    display: flex;
}
.NewChatButton{
    display: flex;
    flex-direction: row;
    color: white;
    border: solid 1px white;
    margin:1rem;
    padding:1rem;
    border-radius: 1rem;
    flex-grow: 1;
    max-height: 1rem;
    overflow: hidden;
    align-items: center;
}
.Contact_wrapper{
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    margin-left: 1rem;
    margin-top: 1rem;

    overflow: hidden;
    color: white;
    flex-wrap: wrap;
}
.imageContainer {
    display: flex; 
    margin: 0;
  }
  .ImageID {
    height: 40px;
    width: 40x;
    order: 2;
    flex-basis: 100%;

  }
  .overall{
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
  }

  .text-container{
    display: inline-block;
    text-align: center;
  }
  .extra_text {
    flex-basis: calc(100% - 1em);
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 1rem;
    margin: 0;
  }
  @media (max-width: 750px) {
    .ImageID {
      display: none;
    }
  }